---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="Brief description of me"
    pubDate={new Date("December 19 2023")}
>
    <img
        src="./profile-pic.png"
        width={250}
        style="float:left;padding-right:1em"
        alt=""
    />
    <p>
        I am a Father, Husband, and Developer in Arizona. I was in the US Air
        Force for a large portion of my life as a Jet Engine Mechanic and have
        transitioned into Software Development after separating. I enjoy
        running, cycling, rock climbing as well as exploring technology. I am a
        motivated lifelong learner and eager to share what I've learned.
    </p>
</Layout>
